<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Akıllı Ev Yönetim Sistemi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_Layout.cshtml.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="~/Resim/ayslogo2.png" alt="AYS" class="logo">
                    <span class="site-title">Akıllı Ev Yönetim Sistemi</span>
                </a>
                <div class="navbar-buttons">
                    <a class="nav-button" href="/">Ana Sayfa</a>
                    <a class="nav-button" href="/Home/Devices">Cihazlarım</a>
                    <a class="nav-button" href="/Home/Homes">Evlerim</a>
                    <a class="nav-button" href="User">Kullanıcı Giriş</a>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    
   
    @RenderSection("Scripts", required: false)
</body>
</html>