@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
	<style>


		.sidebar a { /*Yan menü bağlantılar*/
			display: block; /*her bir bağlantı yeni bir satıra yerleşir.*/
			color: #fff; /*yazı rengi*/
			margin-bottom: 15px; /* Her bağlantı arasına piksel boşluk ekler.*/
			font-weight: bold; /*kalın yazı tipi*/
			background-color: #343a40;
			border-radius: 4px; /*köşeleri yuvarlak*/
			width: 300px; /*genişlik*/
		}

			.sidebar a:hover, /*üstüne gelindiğinde ve aktif olduğunda*/
			.sidebar a.active {
				color: #000;
				background-color: #f1c40f;
			}

		.navbar { /*Üst menü*/
			background-color: #343a40;
			top: 0;
			z-index: 1000;
			position: fixed;
		}


		.sidebar { /*Yan menü*/
			position: fixed; /*menüyü sabitler, sayfa kaydırıldığında yerinde kalır.*/
			top: 56px;
			left: 0;
			width: 250px;
			height: calc(100vh - 56px);
			background-color: #343a40;
			color: #fff;
			border-right: 1px solid #ddd;
			padding: 15px;
			overflow-y: auto;
			z-index: 999; /*Yan menüyü diğer elemanların üstünde tutar.*/
		}


		.content { /*Ana içerik*/
			margin-left: 250px;
			margin-top: 100px;
		}


		.navbar-brand img {
			max-height: 40px;
			width: auto;
			margin-right: 10px;
		}
		

		.btn-ays-primary {
			background-color: #f7e04b;
			color: #000000;
			border: none;
			border-radius: 4px;
			padding: 8px 12px;
			font-size: 16px;
			text-align: center;
		}

		.btn-ays-info {
			background-color: #ffffff;
			color: #000000;
			border: 1px solid #000000;
			border-radius: 4px;
			padding: 8px 12px;
			font-size: 16px;
			text-align: center;
		}

		.btn-ays-warning {
			background-color: #f1c40f;
			color: #000000;
			border: none;
			border-radius: 4px;
			padding: 8px 12px;
			font-size: 16px;
			text-align: center;
		}

		.btn-ays-danger {
			background-color: #e74c3c;
			color: #ffffff;
			border: none;
			border-radius: 4px;
			padding: 8px 12px;
			font-size: 16px;
			text-align: center;
		}

		.btn-ays-success {
			background-color: #7f8c8d;
			color: #ffffff;
			border: none;
			border-radius: 4px;
			padding: 8px 12px;
			font-size: 16px;
			text-align: center;
		}

			.btn-ays-primary:hover,
			.btn-ays-info:hover,
			.btn-ays-warning:hover,
			.btn-ays-danger:hover,
			.btn-ays-success:hover {
				opacity: 0.8;
			}
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-light bg-yellow border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="AYS LOGO" asp-controller="Home" asp-action="Index">
					<img src="/Resim/ayslogo1.png" alt="AYS Logo" style="height:100px; width:162px;" />

				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
				</div>
			</div>
		</nav>
	</header>
	<div class="sidebar">
		<a class="nav-link" href="/Home/Index">Home Page</a>
		<a class="nav-link" href="/HomeController/Index">Homes</a>
		<a class="nav-link" href="/DeviceController/Index">Devices</a>
		<a class="nav-link" href="/Category/Index">Categories</a>
		<a class="nav-link" href="/Room/Controller/Index">Rooms</a>
		<a class="nav-link" href="/UserController/Index">LogIn</a>
		<a class="nav-link" href="/Home/Privacy">Social Media</a>
	</div>

	<div class="content">
		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
